/* General Styles */
#root{
  background-color: #F5EBDA;
}
:where(.css-dev-only-do-not-override-88qs6h).ant-drawer .ant-drawer-body, :where(.css-dev-only-do-not-override-88qs6h).ant-drawer .ant-drawer-header{
  background-color: #CEF2FF;
}
:where(.css-dev-only-do-not-override-88qs6h).ant-badge .ant-badge-count{
  background-color: #476087 !important;
}
/* RWD Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

/* body */
body {
  font-size: 16px;
  line-height: 1.6;
}

/* Layout */
.mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.layoutHeader {
  grid-area: header;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

.layoutFooter {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

.layoutContent {
  grid-area: content;
}

